@media(max-width:749.99px){
    .not_scroll{position: fixed;}


    header{width: 100%;height: 40px;position: fixed;z-index: 10;background-color: white;}
    header img[alt="logo"]{width: 90px;margin: 8px 0 0 10px;float: left;}
    header nav{width: 100%;padding-left: 10%;display: none;}

    header #nav-right{float: right;margin: 0 40px 0 0;position: relative;}
    header #nav-right img{width: 18px; position: absolute;left: 5px;top: 3px;}
    header #nav-right a:nth-of-type(1){margin-left: 22px;}
    header .menu{width: auto;}


    #mobile-menu{width: 100%;}
    #mobile-menu img{float: right;width: 30px;display: inline-block;margin-top: 5px;
    margin-right: 6px;cursor: pointer;}
    #mobile-menu a{float: right;}
    #mobile-menu a img{width: 25px;margin-top: 7px;}


    .mobile-nav{position:fixed; width: 100%; height: 100%; background-color: white;
    margin-left: 100%;overflow-x: scroll;}
    .mobile-nav select{border: none;font-size: 13px;font-weight: bold;
    cursor: pointer;}
    .mobile-nav span{font-size: 30px;padding-bottom: 15px;
    cursor: pointer;}
    .mobile-nav button{width: 49%;height: 8vw;font-weight: bold;font-size: 15px;
    cursor: pointer;}
    .mobile-nav button:nth-of-type(1){background-color: white;border: solid #c1d82e 2px;
    color: #c1d82e;}
    .mobile-nav button:nth-of-type(2){background-color: #c1d82e;border: solid  #c1d82e 2px;
    color: white;}


    .mobile_login{width: 91%;height: 20%; margin: 0 auto 5% auto;}
    .mobile-nav .login{width: 100%;display: flex;flex-direction: row;flex-wrap: wrap;
        justify-content:space-between; align-content: space-between;}
    .mobile-nav .x{width: 100%;display: flex;flex-direction: row;flex-wrap: wrap;
        justify-content:space-between; align-content: space-between;
    padding: 3% 0;}


    .mobile-nav .main{width: 32%;height: auto;background: none;
    padding-top: 2px;}
    .mobile-nav .main h2{font-size: 16px;padding: 7% 8%;cursor: pointer;}
    .mobile-nav .main .click{background-color: white; color:maroon;}

    .mainsub{background-color: rgb(241, 241, 241);width: auto;height: auto;
    display: flex; flex-direction: row;flex-wrap: wrap;justify-content: center;}



    .mobile-nav .sub{width: 68%;padding-left: 4%;background-color: white;}
    .mobile-nav .sub li:nth-of-type(1){font-weight: bold;font-size: 15px;
    padding: 3% 0;}
    .mobile-nav .sub li{font-size: 12px;font-weight: bold;padding: 2% 0;}
    .mobile-nav .sub ul{padding: 2% 0;}
    .mobile-nav .sub a{width: 100%;height: 100%;display: inline-block;}

    .mobile-service,.mobile-Benefits,.mobile-point{display: none;}



    footer{width: 100%;height: auto;}
    footer .menu-outside{width: 100%;height:auto; background-color: rgb(255, 255, 255);}
    footer .menu{width: 100%;height: 100%;margin: 0 auto;}
    footer .menu-box{width:100%;height: 100%;}

    footer .section{width: 100%;display: flex; flex-wrap: wrap;flex-direction: row;
    justify-content:center;align-content: space-around;border: solid rgb(233, 233, 233) 2px;
border-style: none none solid none;}
    footer .section h3{padding: 10px 0; margin-bottom:15px;font-size: 16px;text-align: center;
    background-color: rgb(233, 233, 233);width: 100%;}
    footer .section a{display: inline-block; margin-bottom: 3px;font-size: 12px;
    margin: 5px 5px;}
    footer .section a:last-child{margin-bottom: 15px;}
    footer .sns{width:50%;height:auto;margin: 0 auto;padding: 10px 0 0 0;}
    footer .icon{width: 100%;display: flex; flex-wrap: wrap;flex-direction: row;
    justify-content:space-evenly;align-content: space-around;}
    footer .icon img[alt="icon"]{width:100%;}
    footer .icon img[alt="store"]{width: 100%;}
    footer .icon .store{width: 45%;}
    footer .icon .sns_icon{width: 15%;}
    footer .icon a{margin-bottom: 5px;display: inline-block;width: auto;}

    footer #language-outside{width: 100%;height: auto;border: solid rgb(233, 233, 233) 2px;
    border-style:solid none;margin: 0 auto;}
    footer #language{width:auto;height: auto;margin: 0 auto;display: flex;flex-direction: row;
    flex-wrap: wrap;justify-content: center;align-content: space-around;
    padding: 10px 0;}
    footer #language .language{display: inline-block; cursor: pointer;
    margin-right: 7px;padding-right: 5px;border: solid rgb(233, 233, 233) 1px;
    border-style: none solid none none;}
    footer #language a{display: inline-block;margin-right: 7px;font-size: 14px;}
    footer #language a:nth-of-type(1){text-decoration: underline;}
    footer #language select{font-size: 14px; border: none;}

    footer #information{width: 95%;height: auto;margin: 0 auto;display: flex;flex-wrap: wrap;
    flex-direction: row;justify-content: center;align-content: space-around;
    padding: 15px 0;}
    footer #information hr{width: 0;height:100%; display: inline-block;margin: 0 5px;
    display: none;}
    footer #information p{font-size: 12px;font-weight: normal;display: inline-block;}
    footer #information h4{display: inline-block;margin-bottom: 10px;font-size: 14px;
    width: 100%;text-align: center;}


}







@media(min-width:750px) and (max-width:1199.99px) {


    header{width: 100%;height: 66px;position: absolute;z-index: 10;}
    header img[alt="logo"]{width: 150px;margin: 17px 0 0 40px;float: left;}
    header nav{width: 100%;padding-left: 10%;}
    header a{color: white;margin-left: 15px;font-size: 15px;font-weight: bold;
    text-shadow: 0 0 3px black;}
    header #nav-right{float: right;margin: 0 40px 0 0;position: relative;}
    header #nav-right img{width: 18px; position: absolute;left: 5px;top: 3px;}
    header #nav-right a:nth-of-type(1){margin-left: 22px;}
    header .menu{width: auto;display: inline-block;}
    #mobile-menu{display: none;}

    .mobile-nav{display: none;}

    footer{width: 100%;height: auto;}
    footer .menu-outside{width: 100%;height:280px; background-color: rgb(233, 233, 233);}
    footer .menu{width: 95%;height: 100%;margin: 0 auto;padding: 50px 0;}
    footer .menu-box{width: 80%;height: 100%;float: left;
    border: solid rgb(196, 196, 196) 1px;border-style: none solid none none;}

    footer .section{float: left;width: 25%;}
    footer .section h3{margin-bottom: 10px;font-size: 16px;}
    footer .section a{display: inline-block; margin-bottom: 3px;font-size: 12px;}
    footer .sns{width:20%;height: 100%;float:right;}
    footer .icon img[alt="icon"]{width:3.3vw;}
    footer .icon a:nth-of-type(1){margin-left: 20px;}
    footer .icon img[alt="store"]{width: 80%;margin-left: 20px;}
    footer .icon a{margin-bottom: 5px;display: inline-block;}

    footer #language-outside{width: 100%;height: auto;border: solid rgb(233, 233, 233) 1px;
    border-style: none none solid none;margin: 0 auto;}
    footer #language{width: 95%;height: 40px;
    margin: 0 auto; padding-top: 10px;}
    footer #language .language{display: inline-block; cursor: pointer;
    margin-right: 7px;padding-right: 5px;border: solid rgb(233, 233, 233) 1px;
    border-style: none solid none none;}
    footer #language a{display: inline-block;margin-right: 7px;font-size: 14px;}
    footer #language a:nth-of-type(1){text-decoration: underline;}
    footer #language select{font-size: 14px; border: none;}

    footer #information{width: 95%;height: auto;margin: 0 auto;
    padding: 15px 0;}
    footer #information hr{width: 0;height:100%; display: inline-block;margin: 0 5px;}
    footer #information p{font-size: 12px;font-weight: normal;display: inline-block;}
    footer #information h4{display: inline-block;margin-bottom: 10px;font-size: 14px;}

}







@media(min-width:1200px){

    header{width: 100%;height: 66px;position: absolute;z-index: 10;}
    header img[alt="logo"]{width: 150px;margin: 17px 0 0 60px;float: left;}
    header nav{width: 100%;padding-left: 300px;}
    header a{color: white;margin-left: 30px;font-size: 20px;font-weight: bold;
    text-shadow: 0 0 3px black;}
    header #nav-right{float: right;margin: 0 90px 0 0;position: relative;}
    header #nav-right img{width: 23px; position: absolute;left: 5px;}
    header .menu{width: auto;display: inline-block;}
    #mobile-menu{display: none;}

    .mobile-nav{display: none;}

    footer{width: 100%;height: auto;}
    footer .menu-outside{width: 100%;height:280px; background-color: rgb(233, 233, 233);}
    footer .menu{width: 1100px;height: 100%;margin: 0 auto;padding: 50px 0;}
    footer .menu-box{width: 80%;height: 100%;float: left;
    border: solid rgb(196, 196, 196) 1px;border-style: none solid none none;}

    footer .section{float: left;width: 25%;}
    footer .section h3{margin-bottom: 10px;}
    footer .section a{display: inline-block; margin-bottom: 3px;font-size: 14px;}
    footer .sns{width:20%;height: 100%;float:right;}
    footer .icon img[alt="icon"]{width: 40px;}
    footer .icon a:nth-of-type(1){width: 40px;margin-left: 20px;}
    footer .icon img[alt="store"]{width: 180px;margin-left: 20px;}
    footer .icon a{margin-bottom: 5px;display: inline-block;}

    footer #language-outside{width: 100%;height: auto;border: solid rgb(233, 233, 233) 1px;
    border-style: none none solid none;}
    footer #language{width: 1100px;height: 40px;
    margin: 0 auto; padding-top: 10px;}
    footer #language .language{display: inline-block; cursor: pointer;
    margin-right: 7px;padding-right: 5px;border: solid rgb(233, 233, 233) 1px;
    border-style: none solid none none;}
    footer #language a{display: inline-block;margin-right: 7px;}
    footer #language a:nth-of-type(1){text-decoration: underline;}
    footer #language select{font-size: 15px; border: none;}

    footer #information{width: 1100px;height: auto;margin: 0 auto;
    padding: 30px 0;}
    footer #information hr{width: 0;height:100%; display: inline-block;margin: 0 5px;}
    footer #information p{font-size: 14px;font-weight: normal;display: inline-block;}
    footer #information h4{display: inline-block;margin-bottom: 10px;}
    
}
